* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,121,19,1) 35%, rgba(0,212,255,1) 100%);
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#input-box {
    width: 400px;
    height: 50px;
    font-size: 30px;
    padding: 5px;
    background-color: black;
    color: aqua;
    border: 3px solid black;
    border-radius: 5px;
    outline: none;
}
#submit-btn {
    height: fit-content;
    font-size: 30px;
    padding: 5px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
#submit-btn:hover {
    background-color: gray;
}
.to-do-list {
    font-size: 30px;
    color: brown;
    border: 2px solid white;
    border-radius: 8px;
    padding: 60px;
    box-shadow: 2px 2px 5px black;
    max-width: 400px;
    overflow: auto;
    background-color: whitesmoke;
}